In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('us_stocks.csv')
df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15389314 entries, 0 to 15389313
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         object
 2   open         float64
 3   high         float64
 4   low          float64
 5   close        float64
 6   volume       float64
 7   ex-dividend  float64
 8   split_ratio  float64
 9   adj_open     float64
 10  adj_high     float64
 11  adj_low      float64
 12  adj_close    float64
 13  adj_volume   float64
dtypes: float64(12), object(2)
memory usage: 1.6+ GB

In [6]:
df.date=pd.to_datetime(df['date'])

In [10]:
df_new = df.iloc[2000:]

In [12]:
df_new.set_index(['ticker','date'],inplace=True)

In [22]:
df_final=df_new.loc[:,['adj_open','adj_high','adj_low','adj_close','adj_volume']].rename(columns={'adj_open':'open','adj_high':'high','adj_low':'low','adj_close':'close','adj_volume':'volume'})

In [25]:
df_final.to_hdf('us_stocks.h5',key='df_final')